@use "./foundation/color" as c;
@use "./foundation/fonts" as f;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Zen+Old+Mincho&display=swap");

* {
    padding: 0;
    font: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    scroll-margin-top: 120px;
    scroll-behavior: smooth;
}

body {
    color: c.$black;
    font-family: f.$noto;
    background-color: c.$bg;
}
